In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [2]:
# import train and test dataset
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

full_data = [train, test]

In [3]:
# exploratory data analysis
print('Table information: ', train.info()); print('\n')
print('Table desc: ', train.describe()); print('\n')
print('Is there any null values? \n', train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Table information:  None


Table desc:         PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200


Is there any null values?
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
print('Gender distribution:\n',train['Sex'].value_counts()); print('\n')
print ('Mean of gender survived:\n', train[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean()); print('\n')
print ('Mean of Pclass survived:\n', train[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean())

Gender distribution:
 male      577
female    314
Name: Sex, dtype: int64


Mean of gender survived:
       Sex  Survived
0  female  0.742038
1    male  0.188908


Mean of Pclass survived:
    Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [5]:
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
print (train[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean())

   FamilySize  Survived
0           1  0.303538
1           2  0.552795
2           3  0.578431
3           4  0.724138
4           5  0.200000
5           6  0.136364
6           7  0.333333
7           8  0.000000
8          11  0.000000

In [6]:
x_train = train.iloc[:, [4, 6, 7]]

In [7]:
x_train

        Sex  SibSp  Parch
0      male      1      0
1    female      1      0
2    female      0      0
3    female      1      0
4      male      0      0
..      ...    ...    ...
886    male      0      0
887  female      0      0
888  female      1      2
889    male      0      0
890    male      0      0

[891 rows x 3 columns]

In [8]:
y_test = y_test_dataset.iloc[:, 1].values

NameError: name 'y_test_dataset' is not defined